asttokens==2.4.1
attrs==23.2.0
decorator==5.1.1
exceptiongroup==1.1.1
executing==2.2.0
hypothesis==6.103.2
iniconfig==2.0.0
inline-snapshot==0.20.7
ipython==8.25.0
jedi==0.19.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
mdurl==0.1.2
packaging==23.1
parso==0.8.4
pexpect==4.9.0
pluggy==1.2.0
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
pytest==7.4.0
rich==13.9.4
six==1.16.0
sortedcontainers==2.4.0
stack-data==0.6.3
tomli==2.0.1
traitlets==5.14.3
wcwidth==0.2.13
